[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

"mpi4py" = "*"
numpy = "*"


[dev-packages]

cython = "*"
sphinx = "*"
pytest = "*"
sphinxcontrib-napoleon = "*"
sphinx-rtd-theme = "*"
ipykernel = "*"
